{% extends "systemadministrator/bses.html" %}
{% block bj %}
        class="gradient-ibiza"
{% endblock %}
{% block wrapper %}
    <div id="wrapper">
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center error-pages">
                        <h1 class="error-title text-white"> 404</h1>
                        <h2 class="error-sub-title text-white">404 页面未找到</h2>

                        <p class="error-message text-white text-uppercase">啊哦 你访问的网页不存在!</p>

                        <div class="mt-4">
                          <a href="/" class="btn btn-info btn-round shadow-info m-1">返回首页 </a>
                        </div>

                        <div class="mt-4">
                            <p class="text-white">Copyright © 2018 Rukada | All rights reserved.</p>
                        </div>
                           <hr class="w-50 border-light-2">
                    </div>
                </div>
            </div>
        </div>

 </div>
{% endblock %}