{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <link rel="stylesheet" href="{% static "src/css/layui.css" %}">#}
    <link rel="stylesheet" href={% static '/src/css/font-awesome.min.css' %}>
    <link rel="stylesheet" href="{% static  '/src/lib/layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/src/lib/admin/admin.css' %}" media="all">
    <link rel="stylesheet" href={% static '/src/lib/Scrollbar/jquery.scrollbar.css' %}>
    <link rel='stylesheet' href={% static '/src/lib/nprogress/nprogress.css' %}/>
    <script type="text/javascript" src={% static "/src/lib/layui/layui.js" %}></script>
    <script type="text/javascript" src="{% static "/src/lib/admin/admin.js" %}"></script>
    <script type="text/javascript" src={% static '/src/lib/admin/jquery-1.9.1.min.js' %}></script>
    <title>{% block  title %}
    {% endblock %}</title>
    <style>
        {% block style %}{% endblock %}
    </style>
</head>
{% block body %}
    <body>

    </body>
{% endblock %}
{% block  script %}
    <script src="{% static '/src/lib/layui/layui.js' %}"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
{% endblock %}

</html>