{% extends "systemadministrator/bses.html" %}
{% load static %}
{% block wrapper %}
    <div class="container-fluid">
        <!-- Breadcrumb-->
        <div class="col-sm-3">
            <div class="btn-group float-sm-right">
            </div>
        </div>
    </div>
    <!-- End Breadcrumb-->
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header text-uppercase text-primary">学生信息</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr>
                                <th scope="col">学号</th>
                                <th scope="col">姓名</th>
                                <th scope="col">删除</th>
                                <th scope="col">编辑</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for foo in page %}
                                <tr>
                                    <td>{{ foo.1}}</td>
                                    <td>{{ foo.2 }}</td>
                                    <td><a class="show-code dle" href="javascript:;"
                                           title="{% url "Administrator:deletes"  id=foo.0%}"  ><i class="icon-trash icons"></i><span
                                            class="name">删除</span> <code class="code-preview" style="display: none;">.icon-trash</code></a>
                                    </td>
                                    <td><a class="show-code" href="{% url  "Administrator:studentsup"  id=foo.0%}"
                                           title="click to show css class name"><i class="icon-pencil icons"></i><span
                                            class="name">编辑</span> <code class="code-preview"style="display: none;">.icon-pencil</code></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                                               <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers"
                                         id="default-datatable_paginate">
                                        <ul class="pagination">


                                            {% if page.has_previous %}
                                                <li class="paginate_button page-item previous "
                                                    id="default-datatable_previous">
                                                    <a href="{% url "Administrator:studentslist"  pall=page.previous_page_number%}" aria-controls="default-datatable"
                                                       data-dt-idx="0" tabindex="0"
                                                       class="page-link">Previous</a></li>


                                            {% else %}
                                                <li class="paginate_button page-item previous disabled"
                                                    id="default-datatable_previous">
                                                    <a href=""
                                                       aria-controls="default-datatable"
                                                       data-dt-idx="0" tabindex="0"
                                                       class="page-link">Previous</a>
                                                </li>
                                            {% endif %}



                                            {% for foo in page.paginator.page_range %}
                                                <li class="paginate_button page-item active"><a
                                                        href="{% url "Administrator:studentslist"  pall=foo%}"
                                                        aria-controls="default-datatable"
                                                        data-dt-idx="1"
                                                        tabindex="0"
                                                        class="page-link">{{ foo }}</a>
                                                </li>
                                            {% endfor %}

                                            {% if page.has_next %}
                                                         <li class="paginate_button page-item next"
                                                id="default-datatable_next"><a href="{% url "Administrator:studentslist"  pall=page.next_page_number%}"
                                                                               aria-controls="default-datatable"
                                                                               data-dt-idx="7" tabindex="0"
                                                                               class="page-link">Next</a></li>
                                             {% else %}
                                                     <li class="paginate_button page-item next disabled"
                                                id="default-datatable_next" ><a href="#"
                                                                               aria-controls="default-datatable"
                                                                               data-dt-idx="7" tabindex="0"
                                                                               class="page-link">Next</a></li>
                                            {% endif %}


                                        </ul>
                                    </div>
                                </div>

                </div>
            </div>
        </div>
    </div><!--End Row-->
{% endblock %}