{% extends "frontsytem/base.html" %}
{% load static %}


{% block body %}

    <div class="layui-card" style="margin-top: 30px">
        <div class="layui-card-header" style="font-size: 23px">修改密码</div>
        <div class="layui-card-body">
          <hr class="layui-bg-red">
        </div>
    </div>

  <div class="layui-fluid" >
    <div class="layui-card">
      <div class="layui-card-body ">
        <form class="layui-form layui-col-md12  layui-form-pane" enctype="multipart/form-data" method="post" action="/APP2/changepassword/">

            <input type="text" name="account" placeholder="请输入账户" autocomplete="off" class="layui-input" required>
            <input type="text" name="name" placeholder="请输入姓名" autocomplete="off" class="layui-input" style="margin-top: 30px" required>
            <input type="text" name="password" placeholder="请输入原始密码" autocomplete="off" class="layui-input" style="margin-top: 30px" required>
            <input type="password" name="newpassword1" placeholder="请输入新密码" autocomplete="off" class="layui-input" style="margin-top: 30px" required>
            <input type="password" name="newpassword2" placeholder="请再次输入新密码" autocomplete="off" class="layui-input" style="margin-top: 30px" required>
            {{ err }}
            <div class="layui-form-item"  style="margin-top: 50px; margin-left: 38%">
                  <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="component-form-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                  </div>
            </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}